.LoginFormSection{padding: 20px 0 !important;}
.LoginFormSection .wpcf7-form .commanField{margin-left: 10px; max-width: 200px;}
.LoginFormSection .wpcf7-form-control-wrap ::placeholder { color: #fff; opacity: 1;}
.LoginFormSection .wpcf7-form-control-wrap :-ms-input-placeholder {color: #fff;}
.LoginFormSection .wpcf7-form-control-wrap ::-ms-input-placeholder {color: #fff;}

.LoginFormSection .wpcf7-form .wpcf7-form-control{ background: #0b0b0b; border: 0;  border: 1px solid #353535;  height: 53px;  padding: 14px 17px;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,.2);  color: #fff; font-size: 14px;  border-radius: 3px; max-width: 200px;}
.LoginFormSection .et_pb_row_1.et_pb_row { padding: 0;  max-width: 1140px; margin: 0 auto !important;}
.LoginFormSection .LoginWrapper{display: flex; align-content: center;}
.LoginWrapper .plus {background: #363636; width: 30px; height: 31px;padding-left: 1px; 	border-radius: 50%;	color: #fff;text-align: center; line-height: 34px;
	font-size: 26px;	font-weight: 700;	font-family: arial,sans-serif;	display: block;}
.LoginWrapper .plus-title-Wrapper{display: flex; margin-top: 13px;}
.LoginWrapper .plus-title-Wrapper .plus-title-text{ color: #fff; margin-left: 13px;	text-transform: uppercase;	font-weight: 600;	line-height: 1.04;}
.LoginWrapper .PassBox label,
.LoginWrapper .NameBox label{display: none;}
.LoginWrapper  .btnBox{margin-left: auto;}
.LoginWrapper .btnBox .wpcf7-submit { padding: 0 26px;	background: #e96302;	font-size: 12px;	line-height: 42px;	font-weight: 700;	color: #fff;
	text-transform: uppercase;	max-height: 42px;	border-radius: 4px; cursor: pointer;}
.LoginWrapper .btnBox .wpcf7-spinner{margin: 10px 0 0 10px !important; vertical-align: top;}

.LoginFormSection form.submitting .wpcf7-spinner{ vertical-align: top;  background: #fff !important;}
.LoginFormSection .wpcf7-spinner::before{ background-color: #141414;}
.LoginFormSection .wpcf7 form .wpcf7-response-output {color: #fff;}

.LoginFormSection .et_pb_row .et_pb_code{
    padding: 14px 19px;
    background: #141414;
    background: -moz-linear-gradient(top,rgba(20,20,20,1) 0,rgba(32,32,32,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(20,20,20,1)),color-stop(100%,rgba(32,32,32,1)));
    background: -webkit-linear-gradient(top,rgba(20,20,20,1) 0,rgba(32,32,32,1) 100%);
    background: -o-linear-gradient(top,rgba(20,20,20,1) 0,rgba(32,32,32,1) 100%);
    background: -ms-linear-gradient(top,rgba(20,20,20,1) 0,rgba(32,32,32,1) 100%);
    background: linear-gradient(to bottom,rgba(20,20,20,1) 0,rgba(32,32,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#202020', GradientType=0 );
    border-top: 1px solid #0e0e0e;
    border-left: 1px solid #1e1e1e;
    border-right: 1px solid #1e1e1e;
    border-bottom: 1px solid #393939;
}
.LoginFormSection p{padding-bottom: 0 !important;}

.status-publish::after { display: block; overflow: hidden;	height: 1px;	width: 100%;	content: "";}
.NewAccountSection{margin: 34px auto 45px !important; max-width: 940px; padding: 20px !important;}
.NewAccountSection .et_pb_row_4.et_pb_row,
.NewAccountSection .et_pb_row_2.et_pb_row,
.NewAccountSection .et_pb_row_3.et_pb_row{padding: 0 !important; margin: 0 !important;}
.NewAccountSection .et_pb_row_4.et_pb_row,
.NewAccountSection .et_pb_row_2.et_pb_row{margin-bottom: 15px !important;}
.NewAccountSection a.et_pb_button:hover,
.NewAccountSection a.et_pb_button{padding: 0 42px !important; line-height: 42px !important;  font-size: 12px !important;  display: block;  border: 0;}
.NewAccountSection a.et_pb_button:hover{text-decoration: none;}
.NewAccountSection .et_pb_button_module_wrapper{margin: 0 !important;}
.NewAccountSection .et_pb_row.et_pb_row_4 .et_pb_column,
.NewAccountSection .et_pb_row_3 .et_pb_column{width: auto !important; margin: 0 15px 0 0!important;}
.NewAccountSection .et_pb_button::after{top: 11px;}

.RegistrationFromWrapper .et_pb_row{ max-width: 940px;}
.registrationWrapper{display: flex; flex-wrap: wrap; background: #fff;}
.registrationWrapper .registrationLeft{width: 65%;}
.registrationWrapper .registrationRight{width: 35%; border-left: 1px solid #dadada;}
.registrationWrapper .CreateInfoTop,
.registrationWrapper .CompanyInfoTop{background: #333; position: relative;}
.registrationWrapper .CreateInfoTop::after { position: absolute;border-left: 1px solid #2c2c2c;content: "";	width: 1px;	height: 100%; display: block;	overflow: hidden;
	top: 0;	left: -1px;}
.registrationWrapper .CreateInfoTop h2,
.registrationWrapper .CompanyInfoTop h2{color: #fff; font-size: 21px; font-weight: 200; padding: 19px;}
.registrationWrapper .form-cols{display: flex; flex-wrap: wrap;}

.registrationWrapper input.text, 
.registrationWrapper input.title, 
.registrationWrapper input[type="number"],
.registrationWrapper input[type="url"], 
.registrationWrapper input[type="email"], 
.registrationWrapper input[type="password"], 
.registrationWrapper input[type="tel"], 
.registrationWrapper input[type="text"], 
.registrationWrapper select, 
.registrationWrapper textarea{
    width: 98%;
    padding: 14px 17px;
    border: 0;
    border-radius: 3px;
    background: #dfdfe0;
    font-size: 14px;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,.2);
    box-sizing: border-box;
    height: 48px;
}

.registrationWrapper .InfoFormBlock{padding: 50px 10px 10px 10px; background: #fff; position: relative;}
.form-hint p{font-size: 16px; color: #e96302; font-weight: 400; position: absolute; top: 19px; left: 15px;}
.registrationWrapper .registrationLeft .form-col {width: 50%;}
.registrationWrapper .submitBtn .wpcf7-submit {padding: 0 26px;	background: #e96302;	font-size: 18px;	line-height: 53px;	color: #fff !important;	font-weight: 700;
	text-transform: uppercase;max-width: 80%;	width: 100%;}
.registrationWrapper .submitBtn .wpcf7-submit:hover { background: #fe710b; }
.registrationWrapper label{ font-size: 14px;  line-height: 1.57;  color: #a2a2a2; font-weight: 400;}
.asterisk{font-size: 16px;  color: #e96302;}
.RegistrationFromWrapper{box-shadow: inset 0 6px 7px -7px rgba(0,0,0,.2);}
.registrationContentSection .section-box { padding: 20px;  margin-bottom: 9px;  background: #757575;  box-shadow: inset 0 6px 7px -7px rgba(0,0,0,.3);  color: #fff;
    max-width: 940px;   margin: 0 auto 9px;}
.registrationContentRow{ padding: 0 !important;}
.registrationContentSection .section-box p { padding: 0;}
.RegistrationFromWrapper .wpcf7-spinner{margin: 0 0 0 10px;}

.ForgetSection{margin: 0 !important;}
.ForgetSection::after {content: "";	display: block;	height: 1px; width: 100%;}
.ForgetSection.et_pb_section_1.et_pb_section{margin: 0;}
.ForgetSection .et_pb_row_2.et_pb_row{max-width: 940px; background: #757575 !important;  padding: 20px; margin: 30px auto 50px; padding: 20px !important;}
.ForgetSection .account-page-form{color: #fff;}
.ForgetSection .big-btn{padding: 0 26px; background: #e96302; font-size: 12px;  line-height: 42px;  font-weight: 700; color: #fff;  text-transform: uppercase;
    max-height: 42px;  border-radius: 4px;  cursor: pointer;}
.ForgetSection .no-margin input[type="text"] { background: #dfdfe0; border: 0; border: 1px solid #dfdfe0;  height: 53px;  padding: 14px 17px; font-size: 14px;
        border-radius: 3px;  max-width: 400px;  width: 100%;  margin-top: 10px; box-shadow: inset 0 7px 9px -7px rgba(0,0,0,.2); }     
.ForgetSection .lostpassword-submit{margin: 0 0 30px 0;}
.ForgetSection .account-page-form legend{font-size: 20px; margin-bottom: 10px;}
.ForgetSection .som-password-error-message{margin: 0 0 20px 0 !important; background-color: #B00020; border: 2px solid #B00020;}

.DealerSection {
    background: #e96302;
    background: -moz-linear-gradient(-45deg,rgba(233,99,2,1) 0,rgba(233,149,5,1) 100%);
    background: -webkit-gradient(linear,left top,right bottom,color-stop(0,rgba(233,99,2,1)),color-stop(100%,rgba(233,149,5,1)));
    background: -webkit-linear-gradient(-45deg,rgba(233,99,2,1) 0,rgba(233,149,5,1) 100%);
    background: -o-linear-gradient(-45deg,rgba(233,99,2,1) 0,rgba(233,149,5,1) 100%);
    background: -ms-linear-gradient(-45deg,rgba(233,99,2,1) 0,rgba(233,149,5,1) 100%);
    background: linear-gradient(135deg,rgba(233,99,2,1) 0,rgba(233,149,5,1) 100%);
    min-height: 201px;
}
.shell {max-width: 1140px; margin: 0 auto;}
.cfdlr-benefits { overflow: hidden;position: relative; padding-left: 1px;}
.cfdlr-benefit:after, 
.cfdlr-benefit:before,
.cfdlr-benefits:after,
.cfdlr-benefits:before { position: absolute;  top: 0;  bottom: 0; left: 0; width: 1px;  content: "";  background: #ed8404;}
.cfdlr-benefits:before {left: auto; right: 1px;}
.cfdlr-benefit:after, 
.cfdlr-benefits:after { left: -1px;  background: #e15401;}
.cfdlr-benefits:after { left: auto;  right: 0;}

.cfdlr-benefit {position: relative; width: 16.66%; height: 201px;  text-align: center; float: left; color: #fff; text-decoration: none !important;}
.cfdlr-benefit-title,
.cf-benefit-title {font-size: 18px !important; font-family: "Open Sans",sans-serif;}
.cf-benefit-title, .cfdlr-benefit-title { line-height: 1;  font-weight: 600;  text-transform: uppercase;}

.cf-benefit-head, .cfdlr-benefit-head { border-bottom: 1px solid #f1a35a; border-radius: 50%;  margin: 25px auto 7px;  display: block;}
.cfdlr-benefit-head { position: relative; width: 66px;  height: 66px;  background: #e96302;}
.cfdlr-benefit-head i { position: absolute; left: 50%; top: 50%; -webkit-transition: all .4s;  -o-transition: all .4s; transition: all .4s;}
.cf-benefit:hover i~i, .cfdlr-benefit-head i { opacity: 1;  visibility: visible;}
.ToolTipSection .ico-accessory-orange, 
.ToolTipSection .ico-accessory-white, 
.ToolTipSection .ico-cart, 
.ToolTipSection .ico-file, 
.ToolTipSection .ico-file-orange, 
.ToolTipSection .ico-pin-orange, 
.ToolTipSection .ico-pin-white, 
.ToolTipSection .ico-search, 
.ToolTipSection .ico-search-orange, 
.ToolTipSection .ico-setting-orange, 
.ToolTipSection .ico-setting-white, 
.ToolTipSection .ico-support-orange, 
.ToolTipSection .ico-support-white, 
.ToolTipSection .ico-tool-orange, 
.ToolTipSection .ico-tool-white{
     background: url("../img/sprite.png") no-repeat;}

.ToolTipSection .ico-pin-orange, 
.ToolTipSection .ico-pin-white { margin: -16px 0 0 -13px;}
.ToolTipSection .ico-accessory-orange,  
.ToolTipSection.ico-accessory-white, 
.ToolTipSection .ico-cta-search-orange, 
.ToolTipSection .ico-cta-search-white { margin: -16px 0 0 -15px;}
.ToolTipSection .ico-setting-orange, 
.ToolTipSection .ico-setting-white, 
.ToolTipSection .ico-support-orange, 
.ToolTipSection .ico-support-white, 
.ToolTipSection .ico-tool-orange, 
.ToolTipSection .ico-tool-white {margin: -16px 0 0 -16px;}

.ToolTipSection .ico-pin-white {width: 25px; height: 32px;  background-position: -27px -100px;}
.ToolTipSection .ico-setting-white { width: 32px; height: 32px; background-position: -88px -100px;}
.ToolTipSection .ico-accessory-white { width: 32px;  height: 32px;  background-position: -127px -134px;}
.ToolTipSection .ico-support-white { width: 31px;  height: 31px;  background-position: 0 -134px;}
.ToolTipSection .ico-tool-white { width: 30px; height: 30px;  background-position: -101px -202px;}
.cfdlr-benefit:hover .cfdlr-benefit-head {background: #fff;}
.cfdlr-benefit-head i~i, .cfdlr-benefit:hover i { opacity: 0;  visibility: hidden;}
.cfdlr-benefit:hover i~i { opacity: 1;  visibility: visible;}
.ToolTipSection .ico-pin-orange { width: 25px;  height: 32px;  background-position: 0 -100px;}
.ToolTipSection .ico-setting-orange {width: 32px;height: 32px; background-position: -54px -100px;}
.ToolTipSection .ico-accessory-orange {width: 32px; height: 32px; background-position: -96px -134px;}
.ToolTipSection .ico-support-orange { width: 31px; height: 31px; background-position: -122px -100px;}
.ToolTipSection .ico-tool-orange {width: 30px; height: 30px; background-position: -138px -202px;}
.ToolTipSection .cf-benefit-body { padding: 0 15px;  display: block;}
.mobile-visible, .nav-mobile-btn, .nav-mobile-cart { display: none;}

#page-container #menu-main-nav>.dealer-menu>a{color: #fff!important;
    background: #e96302;
    background: -moz-linear-gradient(-45deg,#e96302 0%,#e99505 100%);
    background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#e96302),color-stop(100%,#e99505));
    background: -webkit-linear-gradient(-45deg,#e96302 0%,#e99505 100%);
    background: -o-linear-gradient(-45deg,#e96302 0%,#e99505 100%);
    background: -ms-linear-gradient(-45deg,#e96302 0%,#e99505 100%);
    background: linear-gradient(135deg,#e96302 0%,#e99505 100%);
}

.ToolTipSection{padding: 0 !important;}
.ToolTipSection .et_pb_row{padding: 0 !important; max-width: 100% !important; width: 100% !important;}
.ToolTipSection .DealerMainSection .cfdlr-benefit{color: #fff !important;}

.boxInner_grid .titleBox { font-size: 13px!important;  overflow: hidden; font-weight: 700;  bottom: 0!important;  height: 55px!important;  max-height: initial!important;
    line-height: 20px;  background: rgba(21,21,21,.8)!important;}
.VideoTitle {  display: none; }

.wcssc-form-row label{font-size: 14px; line-height: 1.57; color: #a2a2a2; font-weight: 400;}
.wcssc-form-row textarea,
.wcssc-form-row input[type="text"]{width: 98%; padding: 14px 17px; border: 0; border-radius: 3px; background: #dfdfe0; font-size: 14px;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,.2); box-sizing: border-box; height: 48px;}
.wcssc-form-row textarea{height: 80px;}
.wcssc-form-row button[type=submit]{background: #e96302 !important; width: 100%; max-width: 200px; float: right;}
.wcssc-form-row button[type=submit]:hover{background: #fe710b !important;}
.modal-header .close{ margin: 0px 0px 0px auto; border-radius: 50%;height: 30px; width: 30px; padding: 0;  font-weight: 800;  font-size: 26px;  line-height: 30px;
    background: #bd0f10; color: #fff;}
.modal  .modal-dialog .modal-body h3{ position: absolute; top: -44px; font-size: 22px; font-weight: 600;}

.wcssc-icons-container div { background: #e7e7e7; padding: 30px 15px 15px 15px; margin: 10px; border-radius: 50%;  height: 100px;  width: 100px;  align-items: center;
    justify-content: center;}
.wcssc-icons-container div .fas::before,
.wcssc-icons-container div .fab:before {font-size: 40px;}

#left-area h1.main_title,
body.single .et_post_meta_wrapper h1{margin-bottom: 30px; padding-bottom: 20px;text-transform: capitalize !important;border-bottom: 1px solid #e96302;}
#saved-cart-description{font-size: 14px; font-weight: 400; margin-bottom: 40px;}
#main-content .container:before{ top: 38px; height: calc(100% - 70px);}
.load-cart a.button::after{display: none;}
.load-cart a.button,
.load-cart a.button:hover{padding: .3em 1em !important;}
body .woocommerce table.shop_table td{vertical-align: top;}

.woocommerce-MyAccount-navigation ul{padding: 0 !important; border: 1px solid #c5c5c5; width: 92%;}
.woocommerce-MyAccount-navigation ul li{list-style-type: none; border-bottom: 1px solid #c5c5c5;}
.woocommerce-MyAccount-navigation ul li a{padding: 10px; font-weight: 500;  background: #f2f2f2; font-size: 14px;  color: #333; display: block;}

.woocommerce .woocommerce-MyAccount-content #saved-carts-table{border: 1px solid #ccc;}
.woocommerce .woocommerce-MyAccount-content #saved-carts-table .cart-row-heading.cart-row{ background: #333;  color: #fff;  padding: 15px; font-size: 18px; font-weight: 400;}
.woocommerce .woocommerce-MyAccount-content #saved-carts-table .cart-row{padding: 5px 15px; font-size: 16px;}
.woocommerce .woocommerce-MyAccount-content #saved-carts-table .cart-row a{padding-top: 8px; display: inline-block;}
.woocommerce .woocommerce-MyAccount-content #saved-carts-table .cartremove{min-width: 60px;}
.woocommerce .woocommerce-MyAccount-content #saved-carts-table .cartremove svg{max-width: 24px;}
.woocommerce .woocommerce-MyAccount-content #saved-carts-table .cart-row-remove button{padding-top: 5px; padding-bottom: 5px;}

#et-main-area .container{width: 92%;}

.msgWrapper{ background: #757575;  color: #fff;  padding: 20px;  max-width: 940px;  margin: 0 auto;  font-size: 16px;}

.woocommerce-MyAccount-content p {font-size: 14px; line-height: 20px;}
.woocommerce-MyAccount-content p > strong:first-child { display: block;}

.NewWarrantySection h2.commantitle{   background: #333; color: #fff;font-size: 21px; font-weight: 200; padding: 19px;}
.NewWarrantySection .claimWrapper{ background: #747474; color: #fff; padding: 20px; font-size: 14px;}
.NewWarrantySection .claimWrapper ul { padding: 0 0 0 20px;}
.NewWarrantySection .claimWrapper ul li p {padding: 0 0 5px 0;}

.NewWarrantySection textarea,
.NewWarrantySection select,
.NewWarrantySection input[type="password"],
.NewWarrantySection input[type="date"],
.NewWarrantySection input[type="number"],
.NewWarrantySection input[type="email"],
.NewWarrantySection input[type="tel"],
.NewWarrantySection input[type="text"]{ width: 98%; padding: 14px 17px;  border: 0;  border-radius: 3px;  background: #dfdfe0;
    font-size: 14px;  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,.2);  box-sizing: border-box; height: 48px;}

.gform_wrapper.gravity-theme input[type=text]:read-only,
.NewWarrantySection input:disabled{ background: rgb(228 228 228 / 70%); color: rgb(152 152 152); cursor: not-allowed;}

.noteWrapper{padding-left: 20px;}

.CheckoutBillingSection select,
.NewWarrantySection select{   
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 14px 30px 14px 17px;
}
.CheckoutBillingSection .distributor-select .woocommerce-input-wrapper{position: relative;}
.CheckoutBillingSection .distributor-select .woocommerce-input-wrapper:after,
.NewWarrantySection .selectCustom .wpcf7-form-control-wrap:after { content: ""; border: solid black; border-width: 0 2px 2px 0; 
    display: inline-block; padding: 3px; transform: rotate(45deg);  -webkit-transform: rotate(45deg); right: 14px; top: 3px; 
    position: absolute;  pointer-events: none;}

.NewWarrantySection .form-row{background: #fff;padding: 20px;}
.NewWarrantySection .form-cols { display: flex; flex-wrap: wrap;}
.NewWarrantySection .form-col { width: 33.333%;}
.NewWarrantySection .form-cols .required{color: #d50000;}

.NewWarrantySection .warrantyActionWarpper .form-cols{display: block;}
.NewWarrantySection .warrantyActionWarpper textarea{height: 90px; max-width: 70%;}
.NewWarrantySection .warrantyActionWarpper .wpcf7-radio .wpcf7-list-item{display: block;}

.pum-responsive .pum-title{ color: #333; font-size: 28px; font-weight: 600; border-bottom: 1px solid #e96302; margin-bottom: 40px; padding-bottom: 20px;}

.componentSection .wpcf7-field-group{display: flex; flex-wrap: wrap;}
.componentSection .wpcf7-field-group p{width: 23%;}
.componentSection .wpcf7-field-group p:last-child { width: 30%;  display: flex;  flex-wrap: wrap;}
.componentSection .wpcf7-field-group p:last-child label{width: 100%;}
.componentSection .wpcf7-field-group p button { margin: 0 0px 0 10px;  background: #fe710b;  color: #fff;  font-size: 36px;
    padding: 1px 15px;  width: 50px;  height: 50px;}

.submitBtnWrapper .submit-warranty-claim{ color: #fff; padding: 0 26px; background: #e96302; font-size: 18px; line-height: 53px;
    font-weight: 700; text-transform: uppercase; margin-top: 20px;}
.NewWarrantySection .wpcf7-list-item{margin: 0 10px 0 0;}
.NewWarrantySection input[type=radio] {margin: 0; vertical-align: middle;}

.checkoutFormSection {background: #fff; padding: 20px !important;}
.checkoutFormSection .et_pb_column_1_2{width: 49% !important;}
.checkoutFormSection .et_pb_column_1_2.et_pb_column_2{margin-right: 2% !important;}
.checkoutPriceSection{background: #fff;  padding: 20px !important;  margin-top: 30px;}
.distributor-list-link {cursor: pointer; font-size: 16px; text-transform: uppercase; font-weight: 600; text-decoration: none;}   
.distributor-list-link:hover {text-decoration: underline;}   

.checkoutPriceSection .payment_method_cheque label{font-size: 28px; font-weight: 600; color: #000;}
.checkoutPriceSection .terms-condition input[type="checkbox"]{float: left; margin: 6px 6px 0 0;}
.woocommerce-billing-fields h3, .woocommerce-shipping-fields h3{margin-bottom: 15px;}

#page-container .checkoutFormSection .form-row input[type=tel],
#page-container .checkoutFormSection .form-row input[type=email],
#page-container .checkoutFormSection .form-row input[type=text] { width: 100%;  padding: 14px 17px;  border: 0;  border-radius: 3px;  background: #dfdfe0; font-size: 14px;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,.2) !important;  box-sizing: border-box;  height: 48px;}
.checkoutFormSection .woocommerce form .form-row-first, 
.checkoutFormSection .woocommerce form .form-row-last, 
.checkoutFormSection .woocommerce-page form .form-row-first, 
.checkoutFormSection .woocommerce-page form .form-row-last{width: 49%;}

.pum-theme-85065 .pum-content + .pum-close, .pum-theme-enterprise-blue .pum-content + .pum-close{    
    background-color: #d10707; font-weight: 800;}
.pum-theme-enterprise-blue.popmake-overlay .pum-content{margin-top: 30px;}
.pum-theme-enterprise-blue.popmake-overlay .pum-content .preferred-distributors-list input[type="text"]{
    width: calc(100% - 135px); padding: 14px 17px;  border: 0;  border-radius: 3px;  background: #dfdfe0;  font-size: 14px;  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,.2);
    box-sizing: border-box;  height: 48px;}
.pum-theme-enterprise-blue.popmake-overlay .distributor-remove-button,
.pum-theme-enterprise-blue.popmake-overlay #submit-distributor{ background: #d10707; color: #fff;  font-weight: 600; height: 48px; margin-bottom: 20px; margin-left: 15px;}
.pum-theme-enterprise-blue.popmake-overlay .pum-content br,
.pum-theme-enterprise-blue.popmake-overlay .preferred-distributors-list br { display: none;}
.pum-theme-enterprise-blue.popmake-overlay #distributor-add-form select{height: 48px;}
#distributor-add-form { margin-top: 20px;  border-top: 1px solid #d4d4d4;  padding-top: 20px;}

.favorite-product-table{border-bottom: 1px solid #ccc!important; background: #fff;}
.favorite-product-table th {background: #333; color: #fff !important; font-size: 21px; font-weight: 400 !important; padding: .857em .587em !important; white-space: nowrap;}
.favorite-product-table td {padding: .857em .587em !important;  border-left: 1px solid #ccc !important; border-top: 1px solid rgba(0,0,0,.1) !important; font-size: 16px;}
.favorite-product-table td:last-child{border-right: 1px solid #ccc !important;}
.favorite-product-table td p{border: 0 !important; padding: 0 !important; text-align: center; display: inline-block;}
.favorite-product-table td input{width: 100%; height: 48px;}
.favorite-product-table td a.add_to_cart_button { display: inline-block;  text-align: center;  height: 48px;  font-size: 16px!important;  text-transform: uppercase;
    font-weight: 500;  max-width: 140px;  padding: 5px;  width: 100%; white-space: nowrap;}
.favorite-product-table td a.add_to_cart_button:hover{ background: #fe710b !important; padding: 5px;}    
.favorite-product-table td a.add_to_cart_button::after{display: none;}
.favorite-product-table .remove-from-fav_list{background: #747474;  color: #fff;  display: block;  width: 100%;  height: 48px; white-space: nowrap;}
.favorite-product-table td:first-child{text-align: center;}
.favorite-product-table td:first-child input {width: 100%; max-width: 80px; margin-bottom: 10px; margin-right: 10px;}

.survey-excel-sheet a,
.survey-instruction a{display: inline-block; margin-bottom: 10px; font-size: 16px;}
.survey-instruction a img,
.survey-excel-sheet a img{margin-right: 5px; vertical-align: middle;}

.NewUserSection {max-width: 900px; margin: 50px auto;}
.NewUserSection .wpcf7-submit{padding: 0 20px;}
.NewUserSection .NewWarrantySection .form-col { width: 50%;}
.NewUserSection .wpcf7-submit{ display: inline-block;  text-align: center;  height: 48px; font-size: 16px!important; text-transform: uppercase;    font-weight: 500;
    padding: 10px 20px;  white-space: nowrap;  background-color: #e96302;  color: #fff; margin: 0 0 10px 20px;}
.NewUserSection .NewWarrantySection .form-row { padding: 20px 20px 10px 20px; }
.NewUserSection .wpcf7 form .wpcf7-response-output{ margin: 0 20px 20px; padding: 10px;}

.woocommerce .product-remove a.remove:hover{text-decoration: initial;}
.et_pb_wc_cart_notice .woocommerce-message .wc-forward{background: #333; position: absolute; right: 10px;  padding: 5px 10px !important; text-transform: uppercase;}
.et_pb_wc_cart_notice .woocommerce-message .wc-forward:hover{background: #747474;}

.checkoutCouponSection .woocommerce form.checkout_coupon{background: #fff;}
.checkoutCouponSection .woocommerce form.checkout_coupon .form-row-last{float: left; margin-left: 20px;}

.requestUpdateAccount .registrationWrapper .registrationLeft{width: 100%;}
.requestUpdateAccount .et_pb_row_2{max-width: 900px;}
.requestUpdateAccount .registrationWrapper .submitBtn .wpcf7-submit{max-width: 300px;}

.updateBtnWrapper{display: flex;justify-content: space-between; flex-wrap: wrap;}
.updateBtnWrapper .update-rqst a{font-size: 16px; text-transform: uppercase; font-weight: 600; margin: 15px 30px 0 20px; display: inline-block;}

.ClubManualSection{display: flex; flex-wrap: wrap; justify-content: space-between; max-width: 900px; padding: 30px !important; margin: 40px auto;}
.ClubManualSection .et_pb_row.et_pb_row_3,
.ClubManualSection .et_pb_row.et_pb_row_2{width: 49%; margin: 0 !important; position: relative;}
.ClubManualSection .et_pb_row.et_pb_row_3:before { content: "";  display: block;  height: 100%;  width: 1px;  background: #e1e1e1; position: absolute;  left: -20px;}
.ClubManualSection .et_pb_row.et_pb_row_3 .et_pb_text_4.et_pb_text>:last-child{padding-top: 20px;}

.GuideFormSection {background: #fff !important; margin: 40px auto !important; max-width: 900px; padding: 20px !important;}
.GuideFormSection .et_pb_text_inner h1 a{font-size: 14px; font-weight: normal;}
.GuideFormSection .gform_wrapper.gravity-theme .gfield textarea.large,
.GuideFormSection  input[type="text"]{ padding: 14px 17px !important;  border: 0 !important;  border-radius: 3px;  background: #dfdfe0;  font-size: 14px !important;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,.2);  height: 48px;}
.GuideFormSection .gform_wrapper.gravity-theme .gfield textarea.large{height: 120px;}
.GuideFormSection .et_pb_row{width: 100%;}
.GuideFormSection .gform_footer .gform_button{height: 48px;  font-size: 16px!important; font-weight: 500; min-width: 180px;}
.GuideFormSection .gform_fields{display: flex !important; flex-wrap: wrap;}
.GuideFormSection .gform_fields .gfield{width: 49%;}

.ProductWrapper .et_section_regular .et_pb_column_3 .et_pb_text_inner h2{font-size: 24px;  font-weight: 600;  text-transform: uppercase; border-bottom: 1px solid #e96302;
    margin-bottom: 30px; padding-bottom: 20px;}
.ProductWrapper .et_section_regular .et_pb_column_3 .et_pb_text_inner div h2:nth-child(1){margin-top: 30px;}

.ProductWrapper .imgWrapper{display: flex; flex-wrap: wrap;}
.ProductWrapper .imgWrapper .imgContent{margin-left: 20px; width: calc(100% - 153px);}
.ProductWrapper .imgWrapper .imgContent h3{font-size: 20px;font-weight: 700;}

.ProductWrapper #product-library details,
.ProductWrapper #product-library .et_pb_toggle{border-radius: 0;}
.ProductWrapper #product-library .et_pb_toggle_title{padding: 15px 7px 15px 2em;}
.ProductWrapper #product-library summary{padding: 9px 7px 9px 1em;}
.ProductWrapper  #product-library ul{margin-top: 5px;}
.ProductWrapper #product-library li>a{padding: 5px 1em;}
.ProductWrapper #product-library li>a:hover{text-decoration: none;}

.ProductWrapper .imgWrapper .imgContent p,
.ProductLibraryBlockTwo p {padding-bottom: 5px;}

.mega-menu a[href$=".pps"]:before,
.mega-menu a[href$=".ppt"]:before {
    content: ' ';   display: inline-block;   background: url(/wp-content/uploads/2022/06/ppt-icon.jpg);   width: 16px;   height: 16px;   margin-right: .3em;
    margin-bottom: -2px;}

.SearchFormWrapper{display: flex; flex-wrap: wrap;
}
.SearchFormWrapper .rangeWrapper,
.SearchFormWrapper .filterTypeWrapper{width: 50%;}

.SearchFormWrapper .rangeWrapper p{display: flex;}
.SearchFormWrapper .rangeWrapper p label{width: 100%;}

.SearchFormWrapper .filterTypeWrapper p{display: flex; flex-wrap: wrap;}
.SearchFormWrapper .filterTypeWrapper p span{width: 50%;}
.SearchFormWrapper .filterTypeWrapper p span.orderWrapper span.wpcf7-form-control-wrap,
.SearchFormWrapper .filterTypeWrapper p span.typeWrapper span.wpcf7-form-control-wrap{    
    margin-top: -5px; display: block;  width: 100%; padding: 6px 0 10px;}
.SearchFormWrapper .filterTypeWrapper p span.orderWrapper{margin-top: 15px;}
.SearchFormWrapper .filterTypeWrapper p label{width: 100%;}

.SearchFormWrapper .wpcf7-form-control,
.rangeWrapper .wpcf7-form-control { background: #0b0b0b;  border: 0;  height: 53px;  padding: 14px 17px;  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,.2);
    color: #fff;  font-size: 14px;  border-radius: 3px;  width: 96%;}
.searchOrderFormWrapper {
    background: #1d1d1d;
    color: #9f9f9f;
    padding: 20px;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 64%);
    margin-bottom: 40px;
}
input.OI-search {background-color: #fe710b;border-radius: 4px;color: #fff;padding: 0.9em 2.8em!important;font-size: 12px;font-weight: bold;}
.SearchFormWrapper .filterTypeWrapper p span.typeWrapper span:after, .SearchFormWrapper .filterTypeWrapper p span.orderWrapper span:after {
    position: absolute;
    content: "\f078";
    color: #fff;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background: #1a1a1a;
    line-height: 35px;
    text-align: center;
    pointer-events: none;
    font-family: 'FontAwesome';
}
.SearchFormWrapper .filterTypeWrapper p span.typeWrapper span {
    position: relative;
}
.SearchFormWrapper .filterTypeWrapper p span select {
    appearance: none;
}
.SearchFormWrapper .rangeWrapper h4, .SearchFormWrapper .filterTypeWrapper h4 {
    color: #fe710b;
	margin-bottom: 20px;
}
.searchOrderFormWrapper>h3:after, .order-inquiry-rslt h3:after, .quote-inquiry-rslt h3:after, .response-heading-wrap h3:after {
    content: '+';
    position: absolute;
    color: #fff;
    left: 0;
    width: 25px;
    height: 25px;
    background: #3e3e3e;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-size: 23px;
    font-weight: bold;
}

.searchOrderFormWrapper >h3 {
    color: #fff;
    padding-left: 40px;
    position: relative;
}
.order-inquiry-rslt h3, .quote-inquiry-rslt h3, .response-heading-wrap h3 {
    font-size: 22px;
    padding-left: 40px;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
}
.ordr-inq-wrapper > table > thead> tr > th, .quote-inq-wrapper > table > thead> tr > th {
    background: #000;
    color: #fff;
	border:0;
}
.order-inquiry-rslt > table > tbody > tr > td, .quote-inquiry-rslt > table > tbody > tr > td {
    padding-left: 23px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.order-inquiry-rslt > table > tbody > tr:hover, .quote-inquiry-rslt > table > tbody > tr:hover {
    background: #e2e2e2;
}
.order-inquiry-rslt h3:after, .quote-inquiry-rslt h3:after, .response-heading-wrap h3:after {
    background: #fe710b;
}
.order-inquiry-rslt>p, .quote-inquiry-rslt>p {
    margin-bottom: 10px;
    padding: 0 !important;
    font-size: 14px;
    font-weight: 600;
}
.SearchFormWrapper .rangeWrapper span.StartDateWrapper, 
.SearchFormWrapper .rangeWrapper span.EndDateWrapper {
    flex: 0 0 50%;
    width: 50%;
}
		span.OI-search-btn-2 {
    display: none;
}
table.product-info-table {
    word-break: break-word;
}
.order-inquiry-rslt .modal .modal-header, .quote-inquiry-rslt .modal .modal-header {
    padding: 15px;
    background: #333;
    color: #fff;
    align-items: center;
    border-radius: 0 !important;
}
.order-inquiry-rslt .modal .modal-header h5, .quote-inquiry-rslt .modal .modal-header h5 {
    padding: 0;
    font-weight: 600;
}
.order-inquiry-rslt .modal .modal-header .close, .quote-inquiry-rslt .modal .modal-header .close {
    padding: 0;
    margin-right: 0;
    background: #fe710b;
    font-weight: 600;
    width: 40px !important;
    height: 35px;
    line-height: 35px;
    border-radius: 2px !important;
    opacity: 1;
}

.OrderEnquiryModal .row.align-items-center {
    font-size: 16px;
}
table.product-info-table tr th {
    border: 0;
}
span.Download_Order_btn:hover {
    color: #fe710b;
}

span.Download_Order_btn {
    cursor: pointer;
}
.OrderEnquiryModal .modal-footer {
    border: 0 !important;
}
table.product-info-table tr th {
    padding-left: 0;
    color: #212529;
}
.btn-orange {
    background: #fe710b !important;
    font-size: 12px !important;
    color: #fff !important;
    border: 0 !important;
    padding: 0.9em 2.7em !important;
    font-weight: 700 !important;
}
.order-inquiry-rslt>table>tbody>tr td:hover, .quote-inquiry-rslt>table>tbody>tr td:hover {
    cursor: context-menu;
}
.SearchFormWrapper input.text:focus, .SearchFormWrapper input.title:focus, .SearchFormWrapper input[type=text]:focus, .SearchFormWrapper select:focus, .SearchFormWrapper textarea:focus {
    color: white;
}
.ordr-inq-table td, .ordr-inq-table tr, .quote-inq-table td, .ordr-inq-table tr {
    border: 1px solid #eee !important;
}
.ordr-inq-table tr:nth-child(odd) , .quote-inq-table tr:nth-child(odd) {
   background-color: #ffff;
}
.ordr-inq-table tr:nth-child(even), .quote-inq-table tr:nth-child(even) {
   background-color: #f1f1f1;
}
.woocommerce #et-boc ul.products li.product .button.view-details-btn{
    font-weight: 700 !important;
    font-size: 12px;
}
body.page.woocommerce-order-received .checkoutFormSection {
    display: none;
}
.ordr-inq-wrapper>table>tbody>tr>td {
    padding: 6px 24px;
}
span.wpcf7-form-control-wrap[data-name="OI_from_date"]:after, 
span.wpcf7-form-control-wrap[data-name="OI_to_date"]:after {
    position: absolute;
    content: '\f073';
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-family: "FontAwesome";
    color: #7c7a7a;
    font-size: 20px;
	pointer-events:none;
}
.bar-bordered:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 135px;
    height: 3px;
    background: #060606;
}
.bar-bordered:before {
    content: '';
    z-index: 99;
}
.bar-bordered {
    position: relative;
    background: #2c2c2c;
}


.part-or-desc .plus-title{
    margin: 0;
}
.part-or-desc .et_pb_text_inner{
	display: flex;
    padding-right: 15px;
}
.part-or-desc .wpcf7{
	margin-left: auto;
    width: 50%;
}
.part-or-desc .wpcf7-form{
    display: flex;
    position: relative;
    padding-right: 130px;
}
.part-or-desc .wpcf7-form p:first-child{
	display: flex;
	padding: 0;
}
.part-or-desc .wpcf7-form p{
	padding: 0;
}
.part-or-desc .wpcf7-form p br{
	display: none;
}
.part-or-desc .valueWrapper{
    width: 40%;
    display: inline-flex;
    padding-right: 10px;
}
.part-or-desc .valueWrapper:last-child{
	width: 58%;
	padding-right: 0;
}
.part-or-desc .valueWrapper .wpcf7-form-control{
    background: #0b0b0b;
    border: 0;
    height: 53px;
    padding: 14px 17px;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,.2);
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    width: 100%;
}
.part-or-desc .valueWrapper .wpcf7-form-control::placeholder {
    color: #fff;
    opacity: 1
}

.part-or-desc .valueWrapper .wpcf7-form-control:-ms-input-placeholder {
    color: #fff
}

.part-or-desc .valueWrapper .wpcf7-form-control::-ms-input-placeholder {
    color: #fff
}
.part-or-desc .OI-search-btn{position: absolute;    right: 0;    top: 0;   width: 120px;}
.part-or-desc .OI-search-btn input{	height: 53px;    font-size: 14px;    padding: 0 !important;   width: 100%; cursor: pointer;}

.order-search-table .ordr-inq-wrapper>table>thead>tr>th{
	padding: 10px 15px;
}
.order-search-table .ordr-inq-wrapper>table>tbody>tr>td{
	padding: 15px;
}
.order-search-table .ordr-inq-wrapper>table>tbody>tr>td:nth-child(2){
	color: #e96302;
}
.order-search-table table tr td input[type="number"]{
	width: 120px;
	height: 42px;
	margin-right: 15px;
} 
.order-search-table table .add_to_cart_inline{
	border: 0 !important;
    padding: 0!important;
    display: inline-flex;
}
.order-search-table table .add_to_cart_inline .add_to_cart_button {
	font-size: 14px;
    text-align: center;
    padding: 0.3em 1em !important;
    height: 42px;
}
.order-search-table table .add_to_cart_inline .add_to_cart_button:after{
	display: none!important;
}
.order-search-table table .fav_ad_btn .add-to-fav_list{ background: #757575;  color: #fff;  cursor: pointer;}
.order-search-table table .fav_ad_btn .add-to-fav_list:hover{background: #e96302;    color: #fff;}
.order-search-table .part-rslt-seperator{ margin: 60px 0 20px 0;  background: #ddd;   height: 1px;   width: 100%;}

.note-for-part-nbr{ color: #fe710b; font-size: 1.1em;  font-weight: 700;}
.et_pb_text_4.order-search-table .ordr-inq-table{padding-top: 20px;}
.et_pb_text_4.order-search-table .ordr-inq-table th{color: #fff; background: #000;}

.et_pb_module .wpcf7-form .wpcf7-submit{ background: #e96302;  color: #fff;  border-radius: 5px; cursor: pointer;}
.et_pb_module .wpcf7-form .wpcf7-submit:hover{background: #FE710E;}
.et_pb_module .wpcf7-form #Product_description{ width: 100%; max-height: 120px;}

.dealer-search-section.et_pb_section_2{border-bottom: 0;}
.dealer-search-section input[type=text]{
        background: #0b0b0b;
        color: #fff;  width: 100%;    height: 53px;    border: 0;    border-bottom: 1px solid #2e2e2e;   padding: 14px 17px;
}
.canadaSearchSection .CA-state,
.dealer-search-section .wpcf7-form-control{background: #0b0b0b; width: 100%;    height: 53px; border: 0;    border-bottom: 1px solid #2e2e2e; appearance: none; color: #fff;}
.canadaSearchSection .CA-state{max-width: 280px;}

.canadaSearchSection .wpcf7-form-control-wrap:after,
.dealer-search-section .ApproximateSection .wpcf7-form-control-wrap:after,
.dealer-search-section .StateSection .wpcf7-form-control-wrap:after { position: absolute;  content: "\f078";  color: #fff;  right: 10px;  top: 50%;  transform: translateY(-50%);
    width: 35px; height: 35px;  background: #1a1a1a;  line-height: 35px;  text-align: center;  pointer-events: none; font-family: fontawesome;}

.dealer-search-section h5{color: #e96302; font-size: 16px; margin-top: 8px; margin-bottom: 5px;}
.searchSectionOne{ padding: 10px; background: #323232; margin-top: 10px;}

.orSection{padding: 0;}
.orSection p{ color: #fff; font-size: 18px;  position: relative;  text-align: center;  width: 50px; margin: auto; padding-bottom: 0 !important;}
.orSection p::before,
.orSection p:after {  content: "";  width: 150px; background: #fff;  height: 2px; display: block;  position: absolute; top: 12px;}
.orSection p:after{right: 40px;}
.orSection p::before {left: 40px;}

.cityStateSection{ display: flex; justify-content: space-between;}
.cityStateSection .citySection,
.cityStateSection .StateSection{width: 49%;}


.ApproximateSection > p{padding: 10px !important;  background: #323232; margin-top: 20px;}

.us-dealer-btn{width: 100%; margin-top: 20px;}
.us-dealer-btn .CA-dealer-locator,
.us-dealer-btn .us-dealer-locator{background: #fe710b;  color: #fff;  border-radius: 4px;  padding: 0.9em 2.8em;  font-size: 12px;  font-weight: 700; cursor: pointer;}

.canadaSearchSection{padding: 15px; margin-top: 20px;}
.CanadaSearchWrapper:before {  content: "";  left: 0;  right: 0;   top: 126px;  height: 3px;  background: #060606;  border-bottom: 1px solid #393939;  position: absolute;
    z-index: 1;}

.searchSectionTwo{ display: flex; margin-top: 10px;}
ul.checkboxes { padding: 18px 18px 12px;  margin: 0;  background: #fff;  box-shadow: inset 0 10px 10px -8px rgba(0,0,0,.6); max-width: 430px; border-radius: 5px !important;}
ul.checkboxes:after { content: "";  height: 1px;  width: 100%;  display: block;  overflow: hidden;}
ul.checkboxes .checkbox{ list-style: none; float: left;  width: 32%;  height: 93px;  margin: 0 0 6px 1%; position: relative; overflow: hidden;}

ul.checkboxes li br{display: none;}
ul.checkboxes li p{ padding-bottom: 0 !important;}
ul.checkboxes p .wpcf7-list-item{margin: 0;}
ul.checkboxes li p .wpcf7-form-control-wrap{position: absolute; opacity: 0; display: block; height: 100%; width: 100%; z-index: 3;  left: 0; top: 0;}

ul.checkboxes li p input[type="checkbox"]{ position: absolute;  height: 100%;  width: 100%;  z-index: 1;  top: 0; left: 0;}
ul.checkboxes li p label span.wpcf7-list-item-label{display: none;}

ul.checkboxes li.checkbox{background: #3c69a0; padding-left: 32px;}
ul.checkboxes li.checkbox:first-child{background: #e27b20;}
ul.checkboxes li p label.checkboxImgSection {display: flex; height: 93px;  align-items: center;  justify-content: center; padding: 5px;}

ul.checkboxes li p label.checkboxImgSection:after { position: absolute;  top: 0;  bottom: 0;  left: 0;  width: 32px;  content: "";  background: #363636;}
ul.checkboxes li.checkbox:first-child p label.checkboxImgSection:after{background: #e96302;}

ul.checkboxes li p label.checkboxImgSection:before { position: absolute;  left: 5px;  top: 50%;  z-index: 2; content: "";  width: 19px;  height: 19px;
    border: 1px solid #fff;  border-radius: 3px;  color: #fff; font-size: 16px;  text-align: center; line-height: 18px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
ul.checkboxes li.act p label.checkboxImgSection:before { content: "✔";}

.locations-box-section h2.serviceTitle{padding: 0 15px;  margin-bottom: 20px;}

.US_dealer-rslt .us-rslt-count-text{padding-bottom: 3px !important;}
.US_dealer-rslt h2{font-weight:700;}
.US_dealer-rslt .cmpny_name{display: flex;}

.US_dealer-rslt .US-address,
.US_dealer-rslt .US-certification{margin-left: 50px;}
.US_dealer-rslt .US-certification span {white-space: nowrap; margin-right: 10px;  margin-bottom: 3px; display: inline-block;}
.US_dealer-rslt .US-certification span img{margin-right: 5px;}
.US_dealer-rslt .US-address p{padding-bottom: 0 !important;}

.CanadaSearchWrapper{border: 0;}
.CanadaSearchWrapper .plus-title{flex-wrap: wrap;}
.CanadaSearchWrapper .plus-title.gray .form-notice { width: 100%; font-size: 16px; color: #e96302; text-transform: initial;}

.cmpny_name .LocationIcon{position:absolute;}
.cmpny_name .LocationTitle{margin-left: 50px;}
.cmpny_name .LocationTitle h2{font-size: 20px;}
.cmpny_name .ico-pin { width: 33px;  height: 45px; background: url(../img/map-pin-icon.png) no-repeat; margin-right: 10px;}

.left-part-list{ max-height: 500px; overflow-y: scroll; overflow-x: hidden;}
#main-content .LocationSearchSection .container{padding-top: 20px 10px !important; width: 100%;}

@media (max-width:1180px){
    .componentSection .wpcf7-field-group p { width: 50%;}
    .componentSection .wpcf7-field-group p:last-child { width: 50%;  display: flex;  flex-wrap: wrap;}
    .componentSection .wpcf7-field-group p:last-child .wpcf7-form-control-wrap{width: calc(100% - 130px);}
}

@media (max-width:992px){
    .registrationWrapper .registrationLeft{width: 100%;}
    .registrationWrapper .registrationRight{width: 100%; border: 0;}
    .registrationWrapper .registrationRight .form-col{width: 100%;}
    .registrationWrapper .CreateInfoTop::after{display: none;}
    .registrationWrapper .registrationRight .InfoFormBlock { padding: 20px 10px 10px;}

    .LoginFormSection .LoginWrapper{flex-wrap: wrap;}
    .LoginWrapper .plus-title-Wrapper{margin-bottom: 13px;width: 100%;flex-wrap: wrap;}
    .LoginWrapper .plus {width: 21px;  height: 21px;  padding-left: 0; line-height: 22px;font-size: 15px;   vertical-align: middle; }
    .LoginWrapper .plus-title-Wrapper .plus-title-text{font-size: 16px;}
    .LoginFormSection .wpcf7-form .commanField{margin-left: 0; margin-right: 10px;}

    .NewUserSection{margin: 50px 20px;}

    .ClubManualSection{max-width: 96%; padding: 20px!important;}
    .ClubManualSection .et_pb_row.et_pb_row_3, .ClubManualSection .et_pb_row.et_pb_row_2{width: 48%;}

    .GuideFormSection {max-width: 96%;}
	.SearchFormWrapper .rangeWrapper span.StartDateWrapper, 
	.SearchFormWrapper .rangeWrapper span.EndDateWrapper,
	.SearchFormWrapper .filterTypeWrapper span.typeWrapper,
	.SearchFormWrapper .filterTypeWrapper span.valueWrapper,
	.SearchFormWrapper .filterTypeWrapper span.orderWrapper{
		width:100%;
		flex: 0 0 100%;
		
	}
	.SearchFormWrapper .rangeWrapper p, .SearchFormWrapper .filterTypeWrapper p{
		flex-direction:column;
	}
    
    .part-or-desc .plus-title{margin-bottom: 15px!important;}
	.part-or-desc .et_pb_text_inner{flex-wrap: wrap;}
	.part-or-desc .wpcf7-form p{display: flex;}
	.part-or-desc .wpcf7{width: 100%;}	

    .dealerSearchTitle{margin-top: 30px;}

    .LocationSearchSection .et_pb_text_3{margin-left: 0!important;}
    .LocationSearchSection .et_pb_text_4{width: 100%;}
    .LocationSearchSection .et_pb_text_3{width: 100%;}

}

@media (max-width:980px){
    .et_right_sidebar #sidebar{margin-top: 20px;}

    #main-content .container{width: calc(100% - 40px);}

    .GuideFormSection .et_pb_divider_0 {padding-top: 35px; margin-top: -30px!important;}
	.ordr-inq-wrapper {
		overflow: auto;
		max-width: 100%;
	}
	.ordr-inq-wrapper table {
    white-space: nowrap;
}
	.bar-bordered:before {
		display:none;
	}
	.SearchFormWrapper .rangeWrapper h4, .SearchFormWrapper .filterTypeWrapper h4 {
		margin-bottom: 0px;
	}
}
@media (max-width:767px){
    .registrationWrapper .registrationLeft .form-col {width: 100%;}

    .NewAccountSection .et_pb_row_4.et_pb_row, 
    .NewAccountSection .et_pb_row_2.et_pb_row, 
    .NewAccountSection .et_pb_row_3.et_pb_row{width: 100% ;}

    .NewAccountSection .et_pb_row.et_pb_row_4 .et_pb_column, 
    .NewAccountSection .et_pb_row_3 .et_pb_column { width: 100% !important;  margin: 0 0px 10px 0 !important; }
    .NewAccountSection a.et_pb_button{width: 100%; text-align: center;}

    .ToolTipSection .cfdlr-benefit{width: 100%; height: auto; padding: 0px 0 15px 0;}
    .ToolTipSection .cfdlr-benefit:after, 
    .ToolTipSection .cfdlr-benefit:before { left: 0; right: 0; bottom: auto; top: 10px; width: auto; height: 1px; }
    .ToolTipSection .cfdlr-benefit:after { top: 9px;}
    .ToolTipSection .cfdlr-benefit:first-child:after,
    .ToolTipSection .cfdlr-benefit:first-child:before {display: none;}

    .ForgetSection .et_pb_row_2.et_pb_row {  margin: 10px auto 40px !important; }

    .LoginFormSection .wpcf7-form .commanField{margin: 0 0 10px 0; max-width: 100%; width: 100%;}
    .LoginFormSection .wpcf7-form .wpcf7-form-control{max-width: 100%; width: 100%;}
    .LoginWrapper .btnBox { margin-left: 0;   min-width: 200px; }

    .woocommerce-MyAccount-navigation ul{ width: 100%; margin-bottom: 30px;}
    .woocommerce .quantity{width: 100%;}

    .blank-td{display: none !important;}
    .shop_table dl.tc-epo-metadata.variation{margin-top: 15px;}
    .shop_table td[data-title="Total Price"] {  font-size: 0;  line-height: 16px !important;   padding: 15px 10px 13px!important;}
    .shop_table td[data-title="Total Price"]:before {font-size: 16px;}
    span.woocommerce-Price-amount.amount { font-size: 16px;}

    .shop_table{border: 1px solid #eee !important;}
    .shop_table td { border: 0 !important;border-bottom: 1px solid #eee !important;}

    .NewWarrantySection .form-col {  width: 100%; }
    .NewWarrantySection .warrantyActionWarpper textarea{max-width: 100%;}
    .componentSection .wpcf7-field-group p,
    .componentSection .wpcf7-field-group p:last-child{ width: 100%;}

    .checkoutFormSection .et_pb_column_1_2.et_pb_column_2{margin-right: 0 !important;}
    .checkoutFormSection .et_pb_column_1_2{width: 100% !important;}
    
    .checkoutPriceSection .terms-condition .button{margin-top: 15px;}
    .pum-theme-enterprise-blue.popmake-overlay #distributor-add-form select {width: 100%;  margin-bottom: 10px;}
    .pum-theme-enterprise-blue.popmake-overlay #submit-distributor { width: 100%; position: relative;  top: -15px;   margin-bottom: -15px;}

    .FavoritListSection .et_pb_code_inner{overflow-x: auto;}
    .FavoritListSection .et_pb_code_inner .favorite-product-table{min-width: 700px;}

    .NewUserSection .NewWarrantySection .form-col,
    .NewWarrantySection input[type=password], 
    .NewWarrantySection input[type=text]{width: 100%;}

    .ClubManualSection .et_pb_row.et_pb_row_3, .ClubManualSection .et_pb_row.et_pb_row_2{width: 100%;}
    .ClubManualSection .et_pb_row.et_pb_row_3:before{display: none;}
    .ClubManualSection .et_pb_row.et_pb_row_3{margin-top: 20px !important;    border-top: 1px solid #e1e1e1;  padding-top: 30px !important;}

    .GuideFormSection .gform_fields .gfield {width: 100%;}
    
    .updateBtnWrapper p {width: 100%;}
    .updateBtnWrapper .update-rqst a{margin: 5px 30px 10px 20px;}
	.product-info-wrapper table {
    	white-space: nowrap;
	}
	.product-info-wrapper {
		max-width: 100%;
		overflow: auto;
	}
    
    .part-or-desc .wpcf7-form p{display: block;}
	.part-or-desc .wpcf7-form{flex-direction: column; padding: 0}
	.part-or-desc .valueWrapper{padding: 0 0 10px 0;}
	.part-or-desc .valueWrapper .wpcf7-form-control-wrap{width: 100%}
	.part-or-desc .valueWrapper, .part-or-desc .valueWrapper:last-child{width: 100%;}
	.part-or-desc .OI-search-btn{position: relative;width: 100%; margin-top: 5px; display: block;}

    .order-search-table .part-rslt-seperator{margin: 20px 0;}

    .CanadaSearchWrapper:before{display: none;}

    .searchSectionOne .cityStateSection,
    .searchSectionOne .zipSection {  width: 100%; }
    .orSection { padding: 0px 15px 0; width: 100%; }
    .orSection p{margin: 0 auto; padding-bottom: 0 !important;}
    .ApproximateSection { max-width: inherit;}
    
    ul.checkboxes li p label.checkboxImgSection img{ vertical-align: middle;}
    ul.checkboxes{max-width: inherit; padding: 10px 6px 2px;}
    .left-part-list{max-height: inherit;}
}

@media (max-width:580px){
    .imgWrapper > p{width: 100%;}
    .ProductWrapper .imgWrapper .imgContent{width: 100%; margin-left: 0;}
	.SearchFormWrapper .rangeWrapper, .SearchFormWrapper .filterTypeWrapper{
		width:100%;
		flex:0 0 100%;
	}
	.SearchFormWrapper{
		flex-direction:column;
	}
	span.OI-search-btn {
    display: none;
}
		span.OI-search-btn-2 {
    display: block;
}
	
}
@media (min-width: 576px){
	.modal-dialog {
		max-width: auto; 
		margin:0 auto;
	}
}


