.configurator-wrap .arm-color-options ul.inline-swatch-ul > li{
	display:block;
	flex:1 0 auto!important;
	width:auto;
}

#Parts-Table {
	font-family: "Open Sans", sans-serif;
	width: 100% !important;
	border-collapse: collapse;
	margin: 0 auto;
	display: table;
	overflow-x:auto;
  }

.et_pb_wc_description .et_pb_button.large.fixed-width {
	display: block;
	margin-bottom: 4px;
  }


.inline-length-div .tc-row{
	display:flex;
	flex-wrap:nowrap;
}

.inline-length-div .tc-row .tc-cell.tc-col.tc-element-container{
	flex:0 1 auto;
}

ul.list-arrows.one-column li{
	margin-left:0;
}
div ul.list-arrows{
	margin-left:0;
}

.tc-container.color-match-error-div{
	display:none;
}
.tm-extra-product-options .tc-col, .tm-extra-product-options .tc-cell.tc-col, .tc-cell.tc-col, .tc-col{
	flex: 1 0 auto;
}

.et_pb_wc_tabs .et_pb_all_tabs h2:not(.plus-title) {
	margin-top: 15px;
	margin-bottom: 15px;
  }


.blue-panel,
.dropdown-wrap-div > .tc-element-inner-wrap{
	background: none repeat scroll 0 0 #F1F3F6;
border: 1px solid #35527D;
color: #454545;
height: auto;
padding: 20px 20px 20px 15px;
margin-top: 10px;
}

.tc-epo-errors,
.tm-extra-product-options .tc-cell.tm-error{
	background: url("img/message_error.png") no-repeat scroll 8px 0 transparent;
  background-color: transparent;
  background-position-x: 8px;
  background-position-y: 0px;
background-color: #f2c7D0;
background-position: 8px 6px;
display: block;
margin: 18px 0;
color: #AD0000;
padding: 0px 8px 0px 50px;
padding: 15px 8px 15px 50px !important;
position: relative;
border: 1px solid #AD0000;
border-radius: 4px 4px 4px 4px;
flex: 0 1 250px;
margin: 20px auto 15px 15px !important;
font-weight: normal;
font-size: 100%;
}
div.tc-epo-errors{
	margin: 20px auto 20px auto !important;
}

body.et-db #et-boc .et-l .et-menu-nav li.mega-menu > ul {
  width: auto;
min-width: calc(100% + 231px);
	padding:20px;
}

body .et-menu-nav li.mega-menu.mega-menu-parent-3 > ul > li{
	width: calc(66.66% - 170px);
}


#sliding_BTW h4.product-title,
.blue-panel h4,
.dropdown-wrap-div > .tc-element-inner-wrap h4{
	margin-bottom: 15px;
	line-height: 1.13;
	font-size:20px;
	margin-top:0;
	padding-top:0;
}

.tc-cell.tm-left {
  padding-right: 0;
  margin-right: -15px;
  /* line-height: 32px; J.Stafford Rmvd 1-17-23; vert ctr config title bar*/
}

.woocommerce .woocommerce-message{ 
display: flex;
flex-wrap: wrap;
align-items: center;
}

.woocommerce .woocommerce-message a.button{
	order: 1;
	margin: 5px 0 5px auto;
	}


.woocommerce-cart-form__cart-item.cart_item.tm-epo-cart-row-product-noepo td.product-quantity > .quantity > span,
.woocommerce-cart-form__cart-item.cart_item.tm-epo-cart-row-product-noepo .tc-value .tc-price-in-cart{
	display:none;
}
.cpf-type-select .tc-cell.tm-left {
	  padding-right: 0;
  margin-right: -15px;
  line-height: 32px; 
}
.configurator-wrap .tm-extra-product-options .tcwidth-50, .configurator-wrap .tm-extra-product-options .tc-cell.tcwidth-50, .tc-cell.tcwidth-50, .tcwidth-50 {
  flex: 0 1 250px !important;
}

.tc-cell.tc-width100.tm-element-description.tm-description{
	margin-bottom:2px;
}

.mb-1-div .tc-cell.tc-width100.tm-element-description.tm-description {
  margin-bottom: 10px;
}

.configurator-wrap .tm-extra-product-options  .mb1-div {
	margin-bottom:10px;
	display: inline-block;
}

.configurator-wrap .lightbar-div,
.configurator-wrap .led-light-bar-div{
	margin-bottom:0;
}

.woocommerce-page .tc-associated-table-product .tc-associated-table-product-indent{
	padding-left:0;
}

.woocommerce-page .tc-associated-table-product .tc-associated-table-product-price:before {
	display:none;
}


.configurator-wrap .tm-extra-product-options ul.tmcp-ul-wrap li.tmcp-field-wrap {
	margin: 2px;
	/* line-height: 1em; */
	line-height:18px;
  }

.my-0-div{
	margin:0!important;
}

.inline-select .cpf-type-select {
  display: flex;
  flex: 0 1 auto !important;
  max-width: unset !important;
  padding: 0;
  margin: 0 0 15px 30px;
  width: auto;
  line-height: 32.5px;
	
}

.configurator-wrap img.intro-img{
max-width:250px;
}

.inline-select .cpf-type-select.inline-length-div .tc-cell {
  padding: 0 !important;
}


.configurator-wrap{
	color:#000;
}

.configurator-wrap a{
	color:#000;
	text-decoration:underline;
}

.configurator-wrap .panel-direction-div img{
	max-width:150px;
}

.max-product-swatch .tm-element-ul-product ul{

}

.configurator-wrap .panel-direction-div ul > li{
	margin-top:15px!important;
	margin-bottom:15px!important;
}


.et-db.single-product #et-boc .configurator-wrap .et_pb_wc_title_0_tb_body h1 {
  font-size: 26px;
}

#main-content .configurator-wrap .container::before {
background:transparent;	
}

.learn-more-config-div .tm-element-description {
  margin-bottom: 0;
}


.tm-extra-product-options .tc-cell.tm-error{
	z-index:-1;

}
.inline-swatches .tc-row{
	display:block;
}

.inline-swatches .learn-more-link-div .tc-row {
	display:flex;
}

.inline-swatch-div {
	width: auto !important;
	max-width: unset !important;
	flex: 1 0 auto !important;
	display: inline-block !important;
	padding-right:0!important;
}

.inline-swatch-div .tc-cell.tc-col.tc-element-container{
	padding-right:0!important;
}

ul li{
	line-height: 1.69;
}

.infoColor, .highlighted {
  background: none repeat scroll 0 0 #FFFAB6;
  border: 1px solid #BFB35F;
  color: #000000;
  padding: 15px !important;
  border-radius: 4px 4px 4px 4px;
  margin: 0px 0px 20px 0px;
}

.configurator-wrap .learn-more-config-div{
margin: 10px 0 !important;
}

.configurator-wrap .learn-more-link-div .tmcp-ul-wrap {
  height: 50px;
}
.configurator-wrap .learn-more-link-div > .tc-element-inner-wrap > .tc-row > .tc-cell.tc-col.tc-element-container{
	position:absolute;
}




.configurator-wrap .learn-more-config-div .learnMoreContent{
	/* border:0;
padding:0;
	background:transparent; */

	background: none repeat scroll 0 0 #F1F3F6;
	border: 1px solid #35527D;
	color: #454545;
		padding:20px 15px;
}





.breadcrumbs-header .et-last-child .et_pb_code {
  display: none;
}

.configurator-wrap {
  max-width: 940px;
  margin: 0 auto;
}

.configurator-wrap .review-config-div button.single_add_to_cart_button{
	float:right!important;
}
.configurator-wrap  .length-inches-div input, .configurator-wrap  .length-feet-div input {
  max-width: 100px !important;
}
.configurator-wrap .tmcp-select {
  width: auto!important;
  padding: 5px 10px;
  border-radius: 5px;
}

.configurator-wrap h4{
color: #454545;
padding-top: 25px;
font-weight: bold;
font-size: 16px;
}
.configurator-wrap .tm-description p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.configurator-wrap .tm-extra-product-options li.tmcp-field-wrap{
	padding:1px!important;
}

.configurator-wrap .tm-extra-product-options .tm-extra-product-options-field{
	margin:0;
}
.configurator-wrap a{
/* color: #0088cc; */
}

.configurator-wrap .tc-images-container .tc-label-wrap{
	justify-content: left;
	z-index: 999;
	white-space: break-spaces;
}
.configurator-wrap   .fabric-grid .tc-label.radio-image-label{
	font-size:12px;
}

.configurator-wrap .tm-extra-product-options .tc-images-container .tc-label-wrap .radio-image,
.configurator-wrap .tm-extra-product-options .tc-images-container .tc-label-wrap .checkbox-image{
	margin:0;
}

.configurator-wrap .tm-extra-product-options .tc-images-container .tc-label-wrap .tc-label.radio-image-label{
	text-align:left;
}

.configurator-wrap .tm-extra-product-options  ul.tmcp-ul-wrap{
	margin-left:15px;
	margin-top:0px;
}

.configurator-wrap .tm-extra-product-options ul.tmcp-ul-wrap {
	margin:0;
}
.configurator-wrap .tm-extra-product-options ul.tmcp-ul-wrap.tm-extra-product-options-radio li.tmcp-field-wrap .tm-label {
	padding-left: 0px !important;
}
.configurator-wrap .tm-extra-product-options ul.tmcp-ul-wrap.tm-extra-product-options-radio li.tmcp-field-wrap .tm-label:before {
	content: ' ';
}

.tm-extra-product-options .fabric-grid-ul > li .radio-image{
	width:90px;
	height:90px;
	
}

.tm-extra-product-options .fabric-grid-ul .tm-tooltip{
	display:none;
}

.configurator-wrap .length-final-number-div,
.configurator-wrap  .hidden_front,
.configurator-wrap  .hide-label-div .tmcp-field-wrap,
.configurator-wrap  .alpine-conditional-check,
.alpine-conditional-check-div .tc-cell.tc-epo-label.tm-epo-element-label.tm-has-required.tcwidth-100,
.alpine-conditional-check-div .tc-cell.tc-col.tc-element-container,
.alpine-conditional-check-div .tc-cell.tc-epo-label.tm-epo-element-label.tm-has-required.tcwidth-100,
.configurator-wrap  .feet-inches-combine-div 
{
	display:none;
}

.alpine-conditional-check-div{
margin:0!important;
}

.tm-extra-product-options .alpine-conditional-check-div .tm-error {
	margin:0!important;
}

.tc-container.cpf-element.tc-cell.tcwidth-100.cpf-type-header:not(:last-child) {
	margin-bottom: 0;
  }
  

/* TO HIDE PRICING ON PDPS */
.configurator-wrap .tc-totals-form.tc-show{
	display:none;
}



.maxw-250{
	max-width:250px!important;
}

.text-center{
	text-align:center;
}

.configurator-wrap .tm-extra-product-options .tc-mode-images .tm-epo-field.tmcp-radio{
	position: absolute!important;
bottom: 0;
	display:inline-block!important;
	z-index:-1;
}

.configurator-wrap button.minus, .configurator-wrap .plus {
  display: none !important;
}

.configurator-wrap .tm-extra-product-options .tc-images-container .tc-label-wrap .tc-label.radio-image-label{
 text-align: left;
 padding: 1em 0 1px 19px;
 line-height: 11px;
}
.configurator-wrap .tm-extra-product-options .tc-images-container .tm-epo-field-label{
	position:relative;
}


.tm-extra-product-options .fabric-grid-ul > li input{
position: absolute!important;
bottom: 0;
	display:inline-block!important;
	z-index:-1;
}



.tm-extra-product-options .flex-shrink-div ul.tmcp-ul-wrap li.tmcp-field-wrap.tmhexcolorimage-li-nowh
{
	width:auto;
	flex: 0 1 100px !important;
	margin-bottom: 15px;
}
/* 
.tm-extra-product-options .flex-shrink-div ul.tmcp-ul-wrap li.tmcp-field-wrap
{
	width:auto;
	flex: 0 1 100px !important;
	margin-bottom: 15px;
} */



.configurator-wrap  .max-product-swatch ul.tm-element-ul-product > li.tmcp-field-wrap.tc-epo-element-product-thumbnail {
	width:auto;
	flex: 0 1 110px !important;
	margin-right:15px!important;
	padding:10px!important;
	text-align:left;
}

.configurator-wrap  .max-product-swatch ul.tm-element-ul-product > li.tmcp-field-wrap.tc-epo-element-product-thumbnail > label{
	display:flex;
	flex-wrap:wrap;

}
.configurator-wrap  .max-product-swatch ul.tm-element-ul-product > li.tmcp-field-wrap.tc-epo-element-product-thumbnail.tc-active {
border:2px solid #ddd;
margin-bottom:5px;
}


.configurator-wrap  .max-product-swatch ul.tm-element-ul-product > li.tmcp-field-wrap.tc-epo-element-product-thumbnail.tc-active .tm-epo-reset-radio,
.configurator-wrap  .max-product-swatch .tc-epo-element-product-li-container,
.configurator-wrap  .deselect-other-radios .tc-epo-element-product-li-container,
.configurator-wrap  .deselect-other-radios .tm-epo-reset-radio,
li.tmcp-field-wrap.tc-active .tm-epo-reset-radio
{
	display:none;
}

.configurator-wrap  .deselect-other-radios li.tmcp-field-wrap.tc-active .tc-label.tm-label{
	font-weight:initial;
}


.tm-extra-product-options  .fabric-grid-tall-ul > li{
	margin-top: 15px !important;
  height: auto;
  width: 135px !important;
  font-size: 13px;
  padding: 2px !important;
  max-width: 130px;
  box-sizing: content-box !important;
	
}


.tm-extra-product-options .fabric-grid-ul > li {
  margin-top: 15px !important;
  height: 130px;
  width: 135px !important;
  font-size: 13px;
  padding: 2px !important;
  max-width: 130px;
  max-height: 135px;
  box-sizing: content-box !important;
}


/* full width feat image on category pages */
.et_pb_column_3_4 > .et_pb_image > .et_pb_image_wrap > img, .et_pb_column_3_4 > .et_pb_image > .et_pb_image_wrap {
  width: 100%;
}

#wpgs-gallery img{
	width:100%;
}

.et_pb_column_1_tb_header {
  display: flex;
  flex-direction: column;
}

.et_pb_menu_1_tb_header.et_pb_menu {
  background-color: #ffffff;
}

.main-menu-wrap{
	flex:1;
}
.et_pb_module.et_pb_wc_description_0_tb_body {
  padding-top: 10px !important;
  margin-top: 0;
}

@media screen and (min-width: 980px) {
.woocommerce .et-l .woocommerce-pagination {
  text-align: right;
}
}



@media screen and (max-width: 980px) {
	
	table#Parts-Table{
		display:block;
	}
	
	.woocommerce div.product .et_pb_module form.cart .quantity, .woocommerce div.product .et_pb_module form.cart button {
  margin-top: 10px !important;
}
	
	header.et-l--header .et_pb_column_1_4 .et_pb_image_wrap img {
  width: 107px!important;
  height: auto;
}
	header.et-l--header .header-cols-wrap{
		padding:15px 15px 5px 15px!important;
	}
	
	
		.et-db #et-boc header.et-l--header .mobile-cart-link{
		margin:0 15px 0 0!important;
	}
	
	header.et-l--header .et_pb_row {
		display: flex;
		align-items: center;
	}
	header.et-l--header img {
		width: 107px;
	}
	header.et-l--header .et_pb_section_1_tb_header .et_pb_row .et_pb_column {
		width: auto !important;
		margin-bottom: 3px;
	}
	header.et-l--header .et_pb_section_1_tb_header .et_pb_column:last-child {
		flex: 1;
		display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
	}
	header.et-l--header .et_pb_menu_1_tb_header.et_pb_menu {
		flex: 0;
	}
	header.et-l--header .mobile-cart-link {
		margin-bottom: 0;
		margin-right: 15px;
	}
}

	.et-db #et-boc .et-l .et_pb_wc_add_to_cart .quantity input.qty{
font-weight:900;		
}


.woocommerce-page div.product form.cart input[type=number].qty {
  -moz-appearance: textfield;
	padding: 10px;
line-height: 0;
font-size: 25px;
	max-width:75px!important;
font-weight:bold;
	
}

.qty-minus{
	margin-right: 3px;
}


.et-l .et_pb_with_border.et_pb_module.et_pb_wc_description.et_pb_wc_description_0_tb_body.et_pb_bg_layout_light.et_pb_text_align_left {
  border-top: 3px solid #e4e4e4 !important;
}

.et-db #et-boc .et-l .et_pb_wc_description_0_tb_body.et_pb_module h4, 
		.et-db #et-boc .et-l .et_pb_wc_description_0_tb_body.et_pb_module h3{
			font-weight:800;
	}
ul.list-arrows-triple > li {
  margin-left: 2.33%;
}

@media (max-width: 767px){


	.configurator-wrap .learn-more-config-div .tc-element-inner-wrap, .learnMoreContent{
		background: none repeat scroll 0 0 #F1F3F6;
	border: 1px solid #35527D;
	color: #454545;
		padding:20px 15px;
	}

	
		.learn-more-link-ul .tc-label-wrap .tc-label {
  display: none;
}
	li.specs_tab > a,
	li.considerations_tab > a,
	li.details_tab > a,
	li.crank_upgrade_tab > a{
		font-size:0!important;
	}
	
	.considerations_tab > a::before{
	content:"Considerations";
		font-size:13px;
	}
	
	.details_tab > a::before{
	content:"Details";
		font-size:13px;
	}
	
	
	.crank_upgrade_tab > a::before{
	content:"Crank Upgrade";
		font-size:13px;
	}
	
	.specs_tab > a::before{
	content:"Specs";
		font-size:13px;
	}
	
	.articles .article-image {
  display: none;
}
	
	.et-db #et-boc .et-l .et_pb_wc_tabs_0_tb_body.et_pb_tabs > .et_pb_tabs_controls{
		justify-content: left;
	}
	
		.et-db #et-boc .et-l .et_pb_wc_tabs_0_tb_body.et_pb_tabs > ul.et_pb_tabs_controls > li.et_pb_tab_active{
border-bottom: 5px solid #e96302;
margin-bottom: -3px;		
	}
	.et-db #et-boc .et-l .et_pb_wc_tabs_0_tb_body.et_pb_tabs > ul.et_pb_tabs_controls > li{
		margin-left:15px;
		height: auto !important;
	}
	
	
	
	.et_pb_tab_content .list-arrows li,
	ul.list-arrows > li
	{
		width:100%!important;
		padding: 0 5px 0 33px;
		margin: 0 0 9px 6%;
		background-position: 0 4px;
	}
	



	.woocommerce-page div.product.et_builder_inner_content form.cart .minus, .woocommerce-page div.product.et_builder_inner_content form.cart .plus{
		width:50px!important;
		height:50px!important;
		line-height:0px!important;
	}
	
	.et-db #et-boc .et-l .et_pb_wc_add_to_cart .quantity input.qty{
		max-height:50px;
	}
	.variations_button .single_add_to_cart_button {
  margin-top: 10px !important;
			}
	
	
	.et-db #et-boc .et-l .et_pb_wc_description_0_tb_body.et_pb_module h2,
.et_pb_tab_content h2{
		  font-size: 14px!important;
	}

	.et-db #et-boc .et-l .et_pb_wc_description_0_tb_body.et_pb_module h4, 
		.et-db #et-boc .et-l .et_pb_wc_description_0_tb_body.et_pb_module h3{
  font-size: 16px;
			font-weight:800;
	}
	
	


	.et-db.single-product #et-boc .et-l h1{
		font-size:16px;
	}
	
	.et_pb_wc_add_to_cart button.single_add_to_cart_button{
		margin-top:10px;
	}
	
	.et-db #et-boc .et-l .et_pb_tabs_controls li > a{
		padding:3px 15px;
	}
}

@media (max-width:415px){
	form .single_add_to_cart_button{
		margin-top:10px;
	}
}

.reset_variations {
  display: none!important;
}
.single_variation_wrap .woocommerce-variation-price {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  margin-top: -15px;
}


.variations td select{
	padding-right: 75px !important;
margin-right: 0!important;
	width:auto!important;
}

.woocommerce div.product form.cart table.variations td select{
	padding-right:75px!important;
	font-size:14px;
}


.variations_form table.variations td.value span{
	width:auto;
	display:inline-block;
}

.variations th.label, .variations td.value {
  display: block;
}

.woocommerce div.product form.cart .variations label {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.57;
	width:100%;
}

.woocommerce div.product.et_builder_inner_content form.cart div.quantity input{
	background-color: #dfdfe0;
	border: 1px solid #d2d2d2!important;
border-radius: 4px!important;
}


.woocommerce-page div.product.et_builder_inner_content form.cart .minus,
.woocommerce-page div.product.et_builder_inner_content form.cart .plus{
	display: inline-block;
border: 0;
border-radius: 4px!important;
text-transform: uppercase;
font-weight: bold;
letter-spacing: -0.01em;
-webkit-appearance: none;
background-color: #dfdfe0!important;
max-width: 100%;
color: #999;
padding: 16px;
line-height: 1.7em;
border-style: solid;
font-weight: 900;
font-size: 30px!important;
line-height: 22px;
vertical-align: middle;
max-height: 55px;
	border: 1px solid #d2d2d2!important;
width: 60px;
border-radius: 3px;
}

.et_pb_column .aws-container{
	max-width:245px;
	margin-bottom:15px;
}

.et_pb_column .woocommerce .woocommerce-breadcrumb{
	margin-bottom:0;
}

.et_pb_column .aws-container form.aws-search-form{
	max-height:38px;
}

.et-db #et-boc .et-l .et_pb_column .et_pb_widget.widget_block{
	width:100%;
}

.catalog-header.et_pb_column {
  margin-bottom: 15px !important;
}

.aws-container .aws-search-form .aws-wrapper input.aws-search-field {
  border-top-left-radius: 4px!important;
  border-bottom-left-radius: 4px!important;
}
#et-boc .aws-container .aws-search-form .aws-form-btn {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span.page-numbers {
  padding: 10px;
}
.woocommerce nav.woocommerce-pagination ul li span.page-numbers.current {
  padding: 10px;
	background-color: #e96302;
border-color: #e96302;
		color:#fff;

}

.woocommerce nav.woocommerce-pagination ul.page-numbers{ 
	border-top-left-radius:3px;
		border-bottom-left-radius:3px;
		border-top-right-radius:3px;
		border-bottom-right-radius:3px;
}

.tm-extra-product-options .config-section {
  border: 1px solid #333;
  margin: 25px 0;
}

.learn-more-link-div, .config-heading,
.config-section .tc-row > h2.tcwidth-100 {
  margin-top: 0 !important;
  height: 50px;
  line-height: 50px;
  background: #333;
  color: #fff;
	 font-size: 16px;
}

.learn-more-link-div h2 , .config-heading h2,
.config-section .tc-row > h2.tcwidth-100{
	text-transform:uppercase;
	height:50px;
	line-height:50px;
	color:#fff;
	margin-bottom: 20px !important;
	font-size: 16px;
}


@media all and (max-width: 768px) {
.configurator-wrap .learn-more-link-div h2, .configurator-wrap .config-heading h2, .configurator-wrap .config-section .tc-row > h2.tcwidth-100{
font-size:13px;
}
}
.learn-more-link-ul li {
  justify-content: end !important;
}

.wapf-field-container.wapf-field-p label {
  background: #333;
  width: 100%;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  color: #fff;
}

/* hide product titles under product option checkboxes on PDPs	 */
.tc-epo-element-product-holder .tc-epo-element-product-container-wrap {
  display: none;
}

/*! formstone v1.4.22 [dropdown.css] 2021-10-01 | GPL-3.0 License | formstone.it */
.fs-dropdown{position:relative;z-index:1;display:block;max-width:100%}.fs-dropdown,.fs-dropdown *,.fs-dropdown :after,.fs-dropdown :before,.fs-dropdown:after,.fs-dropdown:before{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:none;transition:none;-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.fs-dropdown-element{width:100%;height:100%;position:absolute;left:0;z-index:-1;opacity:0;outline:0;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}.fs-dropdown-mobile .fs-dropdown-element,.fs-dropdown-native .fs-dropdown-element{z-index:7}.fs-dropdown-mobile.fs-dropdown-multiple .fs-dropdown-element,.fs-dropdown-native.fs-dropdown-multiple .fs-dropdown-element{z-index:-1}.fs-dropdown-selected{border:none;padding:0;width:100%;position:relative;z-index:2;background:#fff;border:1px solid;color:#000;cursor:pointer;display:block;overflow:hidden;text-align:left;text-overflow:clip}.fs-dropdown-options{width:100%;max-height:260px;position:absolute;top:100%;left:0;z-index:5;background:#fff;border:1px solid;display:none;overflow:auto;overflow-x:hidden}.fs-dropdown-options.fs-scrollbar{position:absolute}.fs-dropdown-group{display:block;font-size:75%}.fs-dropdown-item{border:none;padding:0;width:100%;background:#fff;border-radius:0;color:#000;cursor:pointer;display:block;overflow:hidden;text-align:left;text-decoration:none;text-overflow:ellipsis}.fs-dropdown-item_placeholder{display:none}.fs-dropdown-item_selected{background:#ddd}.fs-dropdown-item_disabled{cursor:default;opacity:.5}.fs-dropdown-open{z-index:3}.fs-dropdown-open .fs-dropdown-options{display:block}.fs-dropdown-open .fs-dropdown-selected{z-index:6}.fs-dropdown-cover.fs-dropdown-open .fs-dropdown-selected{z-index:4}.fs-dropdown-cover .fs-dropdown-options{top:0}.fs-dropdown-bottom .fs-dropdown-options{top:auto;bottom:100%}.fs-dropdown-bottom.fs-dropdown-cover .fs-dropdown-options{top:auto;bottom:0}.fs-dropdown-multiple .fs-dropdown-options{width:100%;position:static;display:block}.fs-dropdown-disabled{opacity:.5}.fs-dropdown-disabled .fs-dropdown-selected{cursor:default}.fs-dropdown-disabled .fs-dropdown-group,.fs-dropdown-disabled .fs-dropdown-item{cursor:default}.fs-dropdown-options.fs-scrollbar{overflow:hidden}.fs-dropdown-options.fs-scrollbar .fs-scrollbar-bar{border:1px solid;border-width:0 0 0 1px}.fs-dropdown-options.fs-scrollbar .fs-scrollbar-content{max-height:260px;height:auto}.fs-dropdown-options.fs-scrollbar.fs-scrollbar-active .fs-scrollbar-content{padding:0}

/*!
 * Bootstrap v3.4.1 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
 .container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.row{margin-left:-15px;margin-right:-15px}.row-no-gutters{margin-right:0;margin-left:0}.row-no-gutters [class*=col-]{padding-right:0;padding-left:0}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.row:after,.row:before{content:" ";display:table}.clearfix:after,.container-fluid:after,.container:after,.row:after{clear:both}@-ms-viewport{width:device-width}.visible-lg,.visible-md,.visible-sm,.visible-xs{display:none!important}.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block{display:none!important}@media (max-width:767px){.visible-xs{display:block!important}table.visible-xs{display:table!important}tr.visible-xs{display:table-row!important}td.visible-xs,th.visible-xs{display:table-cell!important}}@media (max-width:767px){.visible-xs-block{display:block!important}}@media (max-width:767px){.visible-xs-inline{display:inline!important}}@media (max-width:767px){.visible-xs-inline-block{display:inline-block!important}}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block!important}table.visible-sm{display:table!important}tr.visible-sm{display:table-row!important}td.visible-sm,th.visible-sm{display:table-cell!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-block{display:block!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline{display:inline!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline-block{display:inline-block!important}}@media (min-width:992px) and (max-width:1199px){.visible-md{display:block!important}table.visible-md{display:table!important}tr.visible-md{display:table-row!important}td.visible-md,th.visible-md{display:table-cell!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-block{display:block!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline{display:inline!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline-block{display:inline-block!important}}@media (min-width:1200px){.visible-lg{display:block!important}table.visible-lg{display:table!important}tr.visible-lg{display:table-row!important}td.visible-lg,th.visible-lg{display:table-cell!important}}@media (min-width:1200px){.visible-lg-block{display:block!important}}@media (min-width:1200px){.visible-lg-inline{display:inline!important}}@media (min-width:1200px){.visible-lg-inline-block{display:inline-block!important}}@media (max-width:767px){.hidden-xs{display:none!important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none!important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none!important}}@media (min-width:1200px){.hidden-lg{display:none!important}}.visible-print{display:none!important}@media print{.visible-print{display:block!important}table.visible-print{display:table!important}tr.visible-print{display:table-row!important}td.visible-print,th.visible-print{display:table-cell!important}}.visible-print-block{display:none!important}@media print{.visible-print-block{display:block!important}}.visible-print-inline{display:none!important}@media print{.visible-print-inline{display:inline!important}}.visible-print-inline-block{display:none!important}@media print{.visible-print-inline-block{display:inline-block!important}}@media print{.hidden-print{display:none!important}}

